[log]
format = "json"
level = "info"

[telemetry]
addr = ":10000"

[opencensus.exporter]
enabled = true
address = "127.0.0.1:55678"
insecure = true
reconnectPeriod = "5s"

[opencensus.trace]
sampling = { sampler = "always" }
# sampling = { sampler = "probability", fraction = 0.5 }

[opencensus.prometheus]
enabled = true

[app]
httpAddr = ":8000"
grpcAddr = ":8001"

storage = "inmemory"

[database]
uri = "mongodb://tomobridgejob:anhlavip@localhost:27017/tomobridgejob"
dbName = "tomobridgejob"

[jwt]
expiredTime = 1440 # one day in minutes
key="RTuwer@&HdfYjnP"

[keys]
BTC = "tpubD6NzVbkrYhZ4Y7xEbJcu3S9NE5xW4Ntas1NRFQ3sznUc7UsNTyPXTNWz827GK6eSaSCDeWiXvLSfthxVzEon6YneMa9MiyLgmHRset3N7WQ"
ETH = "tpubD6NzVbkrYhZ4Y7xEbJcu3S9NE5xW4Ntas1NRFQ3sznUc7UsNTyPXTNWz827GK6eSaSCDeWiXvLSfthxVzEon6YneMa9MiyLgmHRset3N7WQ"
USDT = "tpubD6NzVbkrYhZ4Y7xEbJcu3S9NE5xW4Ntas1NRFQ3sznUc7UsNTyPXTNWz827GK6eSaSCDeWiXvLSfthxVzEon6YneMa9MiyLgmHRset3N7WQ"


[jobqueue]
broker = "gcppubsub://xkld-197215/anhntjob1"
defaultQueue= "bridgeanhnt"
resultBackend= "mongodb://machinery_job:anhlavip@localhost:27017/machinery_job"
resultsExpireIn= 3600000
mongodb= "machinery_job"
projectID= "xkld-197215"
googleAuth= "./gpc-test.json"
jobPrefix="job1local"

[chainConfig]
RPC = "https://rpc.devnet.tomochain.com"
WS = "wss://ws.devnet.tomochain.com"
signMode =            "MulSig"
confirmations =       12
startBlock =          100
blockTime =           2000000000
intervalRunningTime =  2000000000
unit=                100000000
neededConfirms=          2
gasLimit=           1000000