<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modern Go Application</title>
    <style>
        html, body {
            margin: 0;
            font-family: 'SFMono-Regular', 'SF Mono', 'Ubuntu Mono', Consolas, 'DejaVu Sans Mono', Menlo, monospace;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            flex-direction: column;
        }

        a {
            color: inherit;
        }
    </style>
</head>
<body>
    <div class="container inverse">
        <h1>Welcome to tomo bridge for business gateway</h1>
    </div>
</body>
</html>
